<p>Здравствуйте!</p>
<p>Ваш e-mail адрес указали при регистрации на сайте Zaglohla.ru</p>
<p>Если это были вы, то поздравляем! Регистрация происходит автоматически, подтверждать электронный адрес не нужно.</p>
<p>Также напоминаем вам, что</p>
<p>- <a href="http://beta.zaglohla.ru/cars">Здесь</a> сохранен ваш любимый автомобиль. Заполните всю информацию о нем и получите специальный бонус от нас!</p>
<p>- <a href="http://beta.zaglohla.ru/questions">Здесь</a> вы можете задать любой вопрос по ремонту машины и быстро получить на него квалифицированный ответ</p>
<p>- <a href="http://beta.zaglohla.ru/ctos">Здесь</a> мы собрали для вас полную базу СТО города с актуальной информацией, отзывами и фотографиями</p>
<p>- <a href="http://beta.zaglohla.ru/wikis">Ну и наконец</a> здесь находится наша Энциклопедия, где подробно и популярно "разжевана" трудная техническая информация об узлах и механизмах вашего автомобиля</p>
<p>Если же ваш адрес указали по ошибке, нет проблем! Напишите <a href="mailto:info@zaglohla.ru">нам</a> и мы удалим профиль пользователя с этим адресом.</p>
　
<p>С уважением, команда Zaglohla.ru</p>
