<!DOCTYPE html>
<html>
  <head>
    <title>Zaglohla</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application"%>
  </head>
<body>
  <div class="st-main-container">
    <div class="header-module d2-soft-top d2-soft-bottom sk-header push-auto">
        <a class="o-header-small-logo st-unitLeft sk-header-small-logo" href="/"></a>
        <div class="menubar-module push-top st-unitRight">
          <div class="sk-menubar-nav st-unitRight d2-push-top soft-right">
            <ul>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/ctos">Поиск СТО</a>
              </li>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/spares">Поиск запчастей</a>
              </li>
               <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/estimations">Оценка ремонта</a>
              </li>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/">Вопросы по ремонту</a>
              </li>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/">АвтоWiki</a>
              </li>
            </ul>
          </div>
        </div>

    </div>
    <h1 class="d20-push-top">Запрашиваемая страница не существует. Почему?</h1>
    <p class="d5-soft-top sk-landing-description">- Если вы искали автосервис, а его у нас нет, то он закрылся. Мы поддерживаем нашу базу в актуальном состоянии и оперативно удаляем уходящие с рынка СТО</p>
    <p>- Возможно, в тексте ссылки есть ошибка - изучите ее внимательно.</p>
    <h2 class="d8-push-top">Что теперь делать?</h2>
    <p class="d5-soft-top sk-landing-description">- Найти нужный автосервис через наш поиск</p>
    <p>- Найти запчасти для вашего автомобиля</p>
    <p>- Оценить стоимость ремонта вашей машины</p>
    <p>- Задать вопрос о поломке авто экспертам</p>
    <p>- Почитать об устройстве современного автомобиля в энциклопедии</p>
  </div>

</body>
</html>
