<!DOCTYPE html>
<html>
  <head>
    <title>Zaglohla</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application"%>
  </head>

<body>
  <div class="st-main-container">
    <div class="header-module d2-soft-top d2-soft-bottom sk-header push-auto">
        <a class="o-header-small-logo st-unitLeft sk-header-small-logo" href="/"></a>
        <div class="menubar-module push-top st-unitRight">
          <div class="sk-menubar-nav st-unitRight d2-push-top soft-right">
            <ul>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/ctos">Поиск СТО</a>
              </li>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/spares">Поиск запчастей</a>
              </li>
               <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/estimations">Оценка ремонта</a>
              </li>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/">Вопросы по ремонту</a>
              </li>
              <li class="st-menubar-item d5-soft-right">
                <a class="sk-black-link" href="/">АвтоWiki</a>
              </li>
            </ul>
          </div>
        </div>

    </div>
  <div class="st-main-container">
    <h1 class="d20-push-top">Заглохла заглохла!</h1>
    <p class="d5-soft-top sk-landing-description">Что-то пошло не так. Не отчаивайтесь, интернет-сайт - это как автомобиль, он тоже может сломаться. В данный момент мы чиним наш сервер, попробуйте зайти чуть позже.</p>
    <p>Если у вас есть вопрос к команде Заглохла.ру, отправьте его, пожалуйста, <a class="sk-blue-decorated-link" href="mailto:info@zaglohla.ru">сюда</a> </p>

  </div>
</body>
</html>
