login: &login
  adapter: postgresql
  host: localhost
  username: sergey
  template: template0
  encoding: utf8
  port: 5432
  pool: 50

development:
  <<: *login
  database: zaglohla_development

production:
  <<: *login
  database: zaglohla_development

test: &test
  <<: *login
  database: zaglohla_test
  min_messages: WARNING
